@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.hangman-font {
  font-family: "Shadows Into Light", cursive;
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: black;
}

.letter-button {
  border: none;
  margin: 6px;
  width: 40px;
  height: 40px;
  background-color: rgb(82, 82, 82);
  font-weight: 500;
  border-radius: 8px;
  color: rgb(255, 255, 255);
}

.letter-button:hover {
  background-color: rgb(192, 218, 241);
  transform: scale(1.1);
  transition: 0.2s;
  color: rgb(82, 82, 82);
}

.hangman-image {
  filter: invert(1);
  object-fit: contain;
  object-position: bottom;
}

body {
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.disabled-letter {
  border: none;
  margin: 6px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.4;
  transition: 0.2s;
}

.negatif {
  filter: invert(1);
  width: 200px;
  object-fit: contain;
}

.modal-body {
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
}

.win-gif {
  object-position: center;
  width: 350px;
}

.modal-lg,
.modal-sm,
.modal-md,
.modal {
  --bs-modal-width: fit-content !important;
  --bs-modal-bg: unset !important;
}

.fade {
  opacity: 0.9 !important;
}

.reset-game-button {
  background-color: black !important;
  border-radius: 0px;
  border: none;
}

.width-unset {
  width: fit-content;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-difficulty-buttons {
  width: 100px;
}

.copyright {
  position: absolute;
  font-size: 11px;
  bottom: 10px;
  display: none;
}

.bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.no-text-decoration {
  text-decoration: none;
}

.reset-difficulty {
  position: absolute;
  top: 30px;
  right: 30px
}

.logo-mobile {

  position: absolute;
  left: 30px;
  top: 30px;
  width: 150px;

}

.difficulty-menu {

  position: absolute;
  top: 50%;
  text-align: center;
}